//----------------------------------\\
// FONT-FACE
//----------------------------------\\

@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/handlee-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Handlee Regular'), local('Handlee-Regular'),
       url('../fonts/handlee-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/handlee-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/handlee-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/handlee-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/handlee-v5-latin-regular.svg#Handlee') format('svg'); /* Legacy iOS */
}
