@import './assets/css/base/colors';
@import './assets/css/utils/variables';
@import './assets/css/base/fonts';

.game {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;

    &.turnJustPlayed {
        .fold {
            transition: 1s ease-in-out;
            transform: rotateX(180deg);
            backface-visibility: visible;
        }
    }

    .fold {
        position: relative;
        height: 100px;
        background-color: $white;
        transform: rotate(-.25deg);
        transform-origin: 50% 100%;
        backface-visibility: hidden;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 5px;
            box-shadow: 0 3px 3px 0px $boulder;
        }
    }

    .entry {
        padding: $baseSpacing;
        background-color: $white;
        @include fsHandwriting;

        label {
            display: block;
            font-weight: 700;
        }

        input {
            margin-bottom: $baseSpacing;
            display: block;
            width: 100%;
            border: 0;
            outline: none;
            @include fsHandwriting;
        }

        button {
            background-color: $grey;
        }
    }
}
