@import './assets/css/base/colors';
@import './assets/css/utils/variables';
@import './assets/css/base/fonts';

.game {
    width: 80%;
    margin: 0 auto;
    text-align: left;

    &.turnJustPlayed {
        .fold {
            transition: 1s ease-in-out;
            transform: rotateX(180deg);
            backface-visibility: visible;
            box-shadow: 0px -7px 20px 0px rgba(0,0,0,0.75);
        }
    }

    &.finished {

        .category {
            padding: 0 $baseSpacing;

            &:first-child {
                padding-top: $baseSpacing;
            }

            &:last-child {
                padding-bottom: $baseSpacing;
            }

            .label {
                padding: $baseSpacing 0 $baseSpacing;
                font-weight: 700;
            }
        }
    }

    .fold {
        position: relative;
        height: 100px;
        background-color: $white;
        transform-origin: 50% 100%;
        backface-visibility: hidden;
        box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.75);
    }

    .category {
        padding: $baseSpacing;
        background-color: $white;
        @include fsHandwriting;

        label {
            display: block;
            font-weight: 700;
        }

        input {
            margin-bottom: $baseSpacing;
            display: block;
            width: 100%;
            border: 0;
            outline: none;
            @include fsHandwriting;
        }

        button {
            background-color: $grey;
        }
    }
}
