@import './assets/css/base/colors';
@import './assets/css/utils/variables';

.welcome {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;

    button {
        margin: 0 auto;
        display: block;

        &.fbLogin {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .currentGames {
        margin-top: $baseSpacing;

        table {
            margin: ($baseSpacing / 2) 0 0;

            td, th {
                padding: $baseSpacing / 2;
                text-align: left;
                vertical-align: middle;

                a {
                    display: block;
                    vertical-align: middle;

                    img {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
